%table.table-striped
  %tr
    %th Created
    %th Phone
    %th Code
    %th Status
    %th Message
    %th Response
    %th User
    %th
    %th
    %th
  - angel_events.each do |angel_event|
    %tr
      %td= angel_event.created_at
      %td= angel_event.phone
      %td= angel_event.code
      %td= angel_event.status
      %td= word_wrap(angel_event.message.to_s, line_width: 30)
      %td= word_wrap(angel_event.response.to_s, line_width: 30)
      %td= link_to angel_event.user.code, admin_user_path(angel_event.user_id)
      %td= link_to 'Show', admin_angel_event_path(angel_event)
      %td= link_to 'Edit', edit_admin_angel_event_path(angel_event)
      %td= link_to 'Destroy', admin_angel_event_path(angel_event), method: :delete, data: { confirm: 'Are you sure?' }
